@import url('https://fonts.googleapis.com/css?family=Cabin');

$font-color: #161615;
$header-color: #a09e9e;
$text-color: #c5c1c1;
$additional-color: #857171;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Cabin;
    font-size: 14px;
    background: $font-color;
    color: $text-color;
    .header {
        width: 100%;
        min-height: 80px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
        .heading {
            padding: 10px;
            color: $header-color;
        }
        .logout-form {
            min-width: 250px;
            height: 100%;
            padding: 10px;
            position: relative;
            display: flex;
            justify-content: space-between;
            .name {
                text-decoration: underline;
                margin-right: 10px;
            }
            .logout {
                background: #dfdedd;
                color: black;
                text-decoration: none;
                margin-right: 10px;
                padding: 5px;
            }
            .change-name {
                background: #dfdedd;
                padding: 5px;
                border: none;
                cursor: pointer;
                margin-right: 10px;
            }
        }
        .new-name-box {
            position: absolute;
            right: 250px;
            display: none;
            .another-name {
                background: lighten($font-color, 10%);
                color: white;
                padding: 7px;
                margin-right: 10px;
                border: none;
                outline: 1px solid $text-color;
            }
            .new-name {
                background: #dfdedd;
                color: black;
                border: none;
                text-decoration: none;
                margin-right: 10px;
                padding: 7px 10px;
                cursor: pointer;
            }
        }
    }
    .login-page {
        display: flex;
        flex-direction: column;
        .login-part {
            font-size: 14px;
            #nick-name {
                background: lighten($font-color, 10%);
                color: $text-color;
                outline: 1px solid $text-color;
                padding: 10px;
                border: none;
                &:active {
                    border: none;
                    padding: 10px;
                }
            }
            .login {
                font-size: 18px;
                padding: 5px;
                color: $text-color;
                text-decoration: none;
            }
        }
    }
    .main-content {
        width: 100%;
        height: 100%;
        .messages-container {
            float: left;
            width: 70%;
            height: 100%;
            padding-left: 5px;
            #messages {
                width: 100%;
                list-style-type: none;
                position: relative;
                li {
                    // display: flex;
                    // justify-content: space-between;
                    font-size: 16px;
                    padding: 10px 50px 10px 10px;
                    height: auto;
                    margin-bottom: 5px;
                    outline: 1px solid $text-color;
                    position: relative;
                    word-break: break-all;
                    span {
                        color: $additional-color;
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 5px;
                    }
                }
            }
            form {
                position: absolute;
                bottom: 0;
                width: 70%;
                padding-bottom: 5px;
                display: flex;
                justify-content: space-between;
                #message {
                    background: lighten($font-color, 10%);
                    color: $text-color;
                    outline: 1px solid $text-color;
                    border: none;
                    padding: 10px;
                    width: 90%;
                }
                button {
                    border: none;
                    padding: 10px 20px;
                    cursor: pointer;
                }
            }
        }
        .users-online {
            float: right;
            width: 28%;
            padding-right: 10px;
            #online-users {
                list-style-type: none;
                p {
                    padding: 15xp;
                    margin-bottom: 10px;
                    text-align: center;
                    color: $additional-color;
                }
                li {
                    font-size: 16px;
                    padding: 10px;
                    outline: 1px solid $text-color;
                }
            }
        }
    }
}